<%= image_tag("bg2.png", class: "bg") %>
<% unless current_user.student? && current_user.today.monday? %>
  <%= link_to main_prev_path, method: :patch do %><i class="fa fa-angle-left"></i><% end %>
<% end %>
<% unless current_user.student? && current_user.today.friday? %>
  <%= link_to main_next_path, method: :patch do %><i class="fa fa-angle-right"></i><% end %>
<% end %>
<p class="day"><%= current_user.today.strftime('%A') %></p>
<p class="date"><%= current_user.today.strftime('%B %e') %></p>
<p class="addfriend"><i class="fas fa-user-plus"></i></p>
<% if current_user.student? %>
  <% (0..5).each do |i| %>
    <p class="sub" style="position:relative; left: 30px; font-size: 12px;"><%= @departments[i] %> Department</p>
    <% @users.where(dept: i).order('last ASC').each do |teacher| %>
      <% unless @rooms.where(user_id: teacher.id, occurs: current_user.today).first.nil? %>
        <% room = @rooms.where(user_id: teacher.id, occurs: current_user.today).first %>
        <div class="card card-<%= room.id %>">
          <p class="card-header header-<%= room.id %>"><%= teacher.last %></p>
          <p class="room sub grey-<%= room.id %>">RM <%= teacher.room %></p>
          <p class="class class-<%= room.id %>"><%= room.name %></p>
          <p class="text grey-<%= room.id %>"><%= room.desc %></p>
          <% friends = 0 %>
          <% friendarr = [] %>
          <% unless current_user.friend == [] %>
            <% eval(current_user.friend).each do |friend| %>
              <% if User.find_by_id(friend).class_id == room.id %>
                <% friends += 1 %>
                <% friendarr.push(User.find_by_id(friend).first) %>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user.class_id != room.id && friends > 0 %>
            <% if friends == 1 %>
              <p class="friend"><%= friends %> friend is attending this</p>
            <% else %>
              <p class="friend"><%= friends %> friends are attending this</p>
            <% end %>
          <% end %>
          <p class="remaining left-<%= room.id %>">
            <% if current_user.class_id == room.id %>
              ATTENDING
            <% elsif (room.capacity - @users.where(class_id: room.id).count) == 0 %>
              FULL
            <% else %>
              <% if room.capacity - @users.where(class_id: room.id).count == 1 %>
                <%= room.capacity - @users.where(class_id: room.id).count %> slot left
              <% else %>
                <%= room.capacity - @users.where(class_id: room.id).count %> slots left
              <% end %>
            <% end %>
          </p>
        </div>
        <% unless (room.capacity - @users.where(class_id: room.id).count) == 0 || current_user.class_id == room.id%>
          <div class="signup-card signup-<%= room.id %>">
            <p class="friends">
              <% friendarr.each_with_index do |friend,index| %>
                <%= friend %><% unless index == friendarr.size - 1 %>, <% end %>
              <% end %>
            </p>
            <%= link_to signup_room_path(room.id), method: :patch do %><p class="attend">ATTEND</p><% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% unless @rooms.exists?(user_id: current_user.id, occurs: current_user.today) %>
    <%= form_with(model: @room) do |form| %>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="field">
        <%= form.text_field :name, placeholder: "MTSS Name", class: "input" %>
      </div>

      <div class="field">
        <%= form.number_field :capacity, placeholder: "Capacity",class: "input" %>
      </div>

      <div class="field">
        <%= form.text_field :desc, placeholder: "Description", class: "input" %>
      </div>

      <%= form.hidden_field :occurs, value: current_user.today %>

      <div class="actions">
        <%= form.submit "Submit", class: "submit" %>
      </div>
    <% end %>
  <% else %>
    <% room = @rooms.where(user_id: current_user.id, occurs: current_user.today).first %>
    <% if room.occurs == Time.zone.today %>
      <p class="sub" style="position:relative; left: 60px; font-size: 12px;">Attendance</p>
      <% User.where(class_id: room.id).each do |student| %>
        <% if student.absent? && room.occurs == Time.zone.today %>
          <%= link_to absent_path(student), method: :patch do%><div class="attendance"><p class="atext red"><%= student.first %> <%= student.last %></p></div><% end %>
        <% elsif !student.absent? && room.occurs == Time.zone.today %>
          <%= link_to absent_path(student), method: :patch do%><div class="attendance"><p class="atext"><%= student.first %> <%= student.last %></p></div><% end %>
        <% end %>
      <% end %>
    <% else %>
    <p class="sub" style="position:relative; left: 40px; font-size: 12px;">Your MTSS</p>
      <div class="card">
        <p class="card-header"><%= current_user.last %></p>
        <p class="room sub">RM <%= current_user.room %></p>
        <p class="class"><%= room.name %></p>
        <p class="text"><%= room.desc %></p>
        <p class="remaining">
          <% if @users.where(class_id: room.id).count == 1 %>
            <%= @users.where(class_id: room.id).count %> person attending this class
          <% else %>
            <%= @users.where(class_id: room.id).count %> people attending this class
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
<script>
  $(document).ready(function() {
    $('.attendance').click(function(){
      $(this).css('background-color','#ff534d');
      $('.atext').css('color','#fff');
    });
      <% @rooms.each do |room| %>
        <% if room.occurs == Time.zone.today %>
        $('.card-<%= room.id %>').click(function() {
          if ($('.signup-<%= room.id %>').css("bottom") != "85px") {
            $('.signup-<%= room.id %>').animate({
                              bottom: "85px",
                              "margin-bottom": "-70px"
                            },300 );
          }else {
            $('.signup-<%= room.id %>').animate({
                              bottom: "135px",
                              "margin-bottom": "-100px"
                            },300 );
          }
        });
        <% end %>
      <% end %>
  });
</script>
<style>
html {
  left: 0px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
  body {
    background-color: #fafafa;
    margin: 33px 0 !important;
    margin-top: 0px !important;
  }
  .fa {
    position: absolute;
    font-size: 35px;
    color: #fff;
    top: 30px;
  }
  .fa-angle-left {
    left: 50px;
  }
  .fa-angle-right {
    right: 50px;
  }
  .day {
    font-family: 'HKGrotesk-Bold';
    font-size: 27px;
    text-align: center;
    margin-top: 25px;
    z-index: 20;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.75px;
  }
  .date {
    font-family: 'HKGrotesk-Medium';
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: -15px;
    letter-spacing: 1px;
  }
  .addfriend {
    margin-bottom: 75px;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .sub {
    font-family: 'HKGrotesk-Medium';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b4b4b4;
  }
  .card {
    width: 280px;
    background-color: #fff;
    height: 110px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -165px;
    padding: 25px;
    -webkit-box-shadow: 4px 4px 16px 0px rgba(125,125,125,0.1);
    -moz-box-shadow: 4px 4px 16px 0px rgba(125,125,125,0.1);
    box-shadow: 4px 4px 16px 0px rgba(125,125,125,0.1);
    z-index: 2;
    margin-bottom: 20px;
  }
  .signup-card {
    width: 280px;
    height: 50px;
    background-color: #3c73ff;
    border-radius: 10px;
    left: 50%;
    margin-left: -165px;
    padding: 25px;
    -webkit-box-shadow: 4px 4px 16px 0px rgba(125,125,125,0.1);
    -moz-box-shadow: 4px 4px 16px 0px rgba(125,125,125,0.1);
    box-shadow: 4px 4px 16px 0px rgba(125,125,125,0.1);
    position: relative;
    z-index: 1;
    bottom: 135px;
    margin-bottom: -100px;
  }
  .card:last-child {
    opacity: .99;
  }
  .room {
    float: right;
    position: relative;
    font-size: 12px;
    bottom: 40px;
  }
  .card-header {
    font-family: 'HKGrotesk-Semi';
    font-size: 27px;
    margin-top: 0px;
    margin-left: 0px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #000;
  }
  .class {
    font-family: 'HKGrotesk-Medium';
    font-size: 15px;
    text-transform: uppercase;
    color: #3c73ff;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .text {
    font-family: 'HKGrotesk-Medium';
    font-size: 12px;
    line-height: 12px;
    margin-top: 0px;
    color: #222;
  }
  .remaining {
    font-family: 'HKGrotesk-Semi';
    font-size: 11px;
    margin-top: 20px;
    position: absolute;
    right: 25px;
    bottom: 10px;
    color: #3c73ff;
  }
  .friend {
    font-family: 'HKGrotesk-Medium';
    font-size: 12px;
    margin-top: 20px;
    position: absolute;
    bottom: 5px;
    color: #b4b4b4;
  }

  .attend {
    font-family: 'HKGrotesk-Medium';
    font-size: 10px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    right: 30px;
    color: #fff;
  }

  .friends {
    font-family: 'HKGrotesk-Medium';
    font-size: 12px;
    bottom: -4px;
    letter-spacing: 1px;
    position: absolute;
    color: #fff;
  }
  .attendance {
    width: 250px;
    height: 60px;
    margin-left: -125px;
    left: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.1);
    -moz-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.1);
    box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.1);
    margin-bottom: 30px;
  }
  .atext {
    text-align: center;
    font-size:21px;
    color: #3c73ff;
    font-family: 'HKGrotesk-Medium';
    letter-spacing: 2px;
  }
    .red{
    color: #ff534d;
  }
  .bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  .add {
      margin-bottom: 50px;
      text-transform: uppercase;
      width: 400px;
      margin-left: -200px;
      left: 50%;
      position: relative;
      height: 100px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 150px;
      color:#3c73ff;
      font-size: 35px;
      font-family: 'HKGrotesk-Semi';
      letter-spacing: 5px;
      -webkit-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.2);
      -moz-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.2);
      box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.2);
    }

  <% @rooms.each do |room| %>
    <% if current_user.class_id == room.id %>
      .card-<%=room.id %> {
        background-color: #3c73ff;
      }
      .header-<%=room.id %> {
        color: #fff;
      }
      .class-<%=room.id %> {
        color: #fff;
      }
      .grey-<%=room.id %> {
        color: #fff;
        opacity: .5;
      }
      .left-<%=room.id %> {
        color: #fff;
        font-family: 'HKGrotesk-Medium';
        letter-spacing: 1px;
      }
    <% elsif (room.capacity - @users.where(class_id: room.id).count) == 0 %>
      .class-<%=room.id %> {
        color: #ff534d;
      }
      .left-<%=room.id %> {
        color: #ff534d;
        font-family: 'HKGrotesk-Medium';
        letter-spacing: 2px;
      }
    <% end %>
  <% end %>
</style>
