<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :studentid %><br />
    <%= f.text_field :studentid, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :mtss_homeroom %><br />
    <%= f.select(:home, User.all.where(role: 1).collect {|a| [a.last, a.id]}) %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
