<!DOCTYPE html>
<html>
  <head>
    <title>MTSS</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content=" user-scalable=0"/>

    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <style>
    body {
      overflow-y: scroll;
      background-color: #fafafa;
    }
    .input {
      width: 750px;
      height: 130px;
      position: relative;
      left: 50%;
      margin-left: -400px;
      background-color: #fff;
      font-family: 'HKGrotesk-Medium';
      letter-spacing: 4px;
      border-radius: 15px;
      font-size: 50px;
      padding-left: 50px;
      border:none;
      -webkit-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.1);
      -moz-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.1);
      box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.1);
      margin-bottom: 50px;
    }
    .submit {
      margin-top: 100px;
      text-transform: uppercase;
      width: 500px;
      margin-left: -250px;
      left: 50%;
      position: relative;
      height: 125px;
      background-color: #3c73ff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 150px;
      color:#fff;
      font-size: 50px;
      font-family: 'HKGrotesk-Semi';
      letter-spacing: 5px;
      -webkit-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.2);
      -moz-box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.2);
      box-shadow: 4px 4px 34px 0px rgba(125,125,125,0.2);
      -webkit-appearance: none;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ccc;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ccc;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #ccc;
    }
    </style>
  </body>
</html>
